<div class="center">
  <blockquote class="center_major_bq">
    <p>修改资料</p>
  </blockquote>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class => 'form-horizontal' } ) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <label class="control-label" for="username">收货人姓名</label>
    <div class="controls">
      <%= f.text_field :name, :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="username">账号</label>
    <div class="controls">
      <%= f.email_field :email, :autofocus => true %>
      <span class="help-inline">格式为邮箱</span>
    </div>
  </div>

  <div class="control-group">

    <label class="control-label" for="address">学校</label>
    <div class="controls">
      <%= f.text_field :school, :autofocus => true %>
    </div>
  </div>

  <div class="control-group">

    <label class="control-label" for="address">送货地址</label>
    <div class="controls">
      <%= f.text_field :address, :autofocus => true %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="tel">手机</label>
    <div class="controls">
      <%= f.text_field :telephone, :autofocus => true %>
    </div>
  </div>


  
  <div class="control-group">
    <label class="control-label" for="password">原密码</label>
    <div class="controls">
      <%= f.password_field :current_password %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="password">密码</label>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="repassword">确认密码</label>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "提交", class:"btn" %>
    </div>
  </div>
  <% end %>
</div>  
