<div class="center">
  <blockquote class="center_major_bq">
    <p>确认收货人信息</p>
  </blockquote>
  <%= form_for(@order, html:{ :class => "form-horizontal" }) do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, "姓名", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :value => @user.name || "" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :address, "地址", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :address, :value => @user.address || "" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :telephone, "电话", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :telephone, :value => @user.telephone || "" %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "提交订单", class:"btn" %>
      </div>
    </div>

    <div class="actions">
    </div>
  <% end %>
</div>
