<% if current_user.has_role? :admin %>
<div class="center">
  <blockquote class="center_major_bq">
    <p>查询订单</p>
  </blockquote>

  <%= form_tag "/orders/search" do %>
    <div class="input-append">
      <%= text_field_tag :query, nil, :placeholder => "输入订单号" %>
      <%= submit_tag "搜索", class:"btn" %>
    </div>
  <% end %>


  <blockquote class="center_major_bq">
    <p>订单详情</p>
  </blockquote>
  <table class="table table-bordered table-striped">
    <tr>
      <th>订单编号</th>
      <th>订单状态</th>
      <th>收货人姓名</th>
      <th>学校</th>
      <th>地址</th>
      <th>手机</th>
      <th>总价</th>
      <th>下单时间</th>
      <th>操作</th>
    </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.status %></td>
      <td><%= order.name %></td>
      <td></td>
      <td><%= order.address %></td>
      <td><%= order.telephone %></td>
      <td><%= order.total_price %></td>
      <td><%= order.created_at %></td>
      <td>
        <%= link_to '删除', order, method: :delete, data: { confirm: '确定？' }, class:"btn" %>
        <%= link_to '查看', order_path(order), class:"btn" %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
<% end %>