<div class="center">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
  <blockquote class="center_major_bq">
    <p>订单详情</p>
  </blockquote>
<p>
	<b>收件人:</b>
	<%= @order.name %>
</p>

<p>
	<b>收件地址:</b>
	<%= @order.address %>
</p>

<p>
	<b>手机号码:</b>
	<%= @order.telephone %>
</p>
<table class="table table-bordered table-striped">
  <tr>
  	<th>书籍编号</th>
    <th>书名</th>
    <th>作者</th>
    <th>出版社</th>
    <th style="text-align:right;">数量</th>
    <th style="text-align:right;">价格</th>
  </tr>
	<% @order.line_items.each do |item| %>
    <tr class="total_line">
    	<td><%= item.book.number %></td>
      <td><%= item.book.name %></td>
      <td><%= item.book.author %></td>
      <td><%= item.book.publishing_house %></td>
      <td style="text-align:right;"><%= item.quantity %></td>
      <td class="item_price" style="text-align:right;"><%= item.total_price.to_s + "元" %></td>
    </tr>
  <% end %>
  <tr class="total_line">
    <td colspan="1">总价</td>
    <td colspan="5" class="total_cell" style="text-align:right;">
      <%= @order.total_price.to_s + "元" %>
    </td> 
	</tr>
</table>
</div>
<br />

<%= link_to "返回", all_orders_path, class:"btn" %>