<div class="center">
  <%- model_class = Book -%>
  <div class="page-header">
    <h1><%= image_tag("logo.png") %><%= image_tag("float_s.png") %></h1>
  </div>


  <%= form_tag "/books/search" do %>
  <%= text_field_tag :query, nil, placeholder: "ISBN、书名、作者、出版社", class: "input-xlarge pull-left" %>
  <div class="actions"><%= submit_tag "搜索", class:"btn" %></div>
  <% end %>
  <%= will_paginate @books %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>编号</th>
        <th>书名</th>
        <th>ISBN</th>
        <th>作者</th>
        <th>价格</th>
        <!-- <th>库存总量</th> -->
        <th>剩余</th>
        <th>出版社</th>
        <th>购买</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.number %></td>
        <td><%= book.name %></td>
        <td><%= book.isbn %></td>
        <td><%= book.author %></td>
        <td><%= book.price %></td>
        <!-- <td><%= book.total %></td> -->
        <td><%= book.left %></td>
        <td><%= book.publishing_house %></td>

        <td>
         <%= form_tag "/line_items" do %>
         <%= text_field_tag 'quantity', '1', class:"controls input-small pull-left width20" %>
         <input type="hidden" name="book_id" value="<%= book.id %>">
         <%= submit_tag "加入购物车", class:"btn" %>
         <% end %>
       </td>

        <% if user_signed_in? %>
       <% if current_user.has_role? :admin %>
       <td>
         <%= link_to t('.edit', :default => t("helpers.links.edit")),
         edit_book_path(book), :class => 'btn btn-mini' %>
         <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
         book_path(book),
         :method => :delete,
         :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
         :class => 'btn btn-mini btn-danger' %>
       </td>
       <% end %>
       <% end %>
     </tr>
     <% end %>
   </tbody>
 </table>

 <%= will_paginate @books %>

 <% if user_signed_in? %>
 <% if current_user.has_role? :admin %>
 <%= link_to "新建",
 new_book_path,
 :class => 'btn' %>

 <p>
  下载:
  <%= link_to "CSV", books_path(format: "csv") %> |
  <%= link_to "Excel", books_path(format: "xls") %>
</p>
<h2>Import Products</h2>

<%= form_tag import_books_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "导入" , class: "btn btn-primary" %>
<% end %>
<% end %>
<% end %>
</div>
