<div class="center">
  <div class="page-header">
        <h1><%= image_tag("logo.png") %><%= image_tag("float_s.png") %></h1>
  </div>
  <%= form_tag "/books/search" do %>
  <%= text_field_tag :query, nil, placeholder: "ISBN、书名、作者、出版社", class: "input-xlarge pull-left" %>
  <div class="actions"><%= submit_tag "搜索", class:"btn" %></div>
  <% end %>


  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>编号</th>
        <th>书名</th>
        <th>ISBN</th>
        <th>作者</th>
        <th>价格</th>
        <!-- <th>库存总量</th> -->
        <th>剩余</th>
        <th>出版社</th>
        <th>购买</th>
      </tr>
    </thead>
    <tbody>
      <% @querys.each do |book| %>
      <tr>
        <td><%= book.number %></td>
        <td><%= book.name %></td>
        <td><%= book.isbn %></td>
        <td><%= book.author %></td>
        <td><%= book.price %></td>
        <!-- <td><%= book.total %></td> -->
        <td><%= book.left %></td>
        <td><%= book.publishing_house %></td>

        <td>
         <%= form_tag "/line_items" do %>
         <%= text_field_tag 'quantity', '1', class:"controls input-small pull-left width20" %>
         <input type="hidden" name="book_id" value="<%= book.id %>">
         <%= submit_tag "购买", class:"btn" %>
         <% end %>
       </td>

       <% if user_signed_in? %>
       <% if current_user.has_role? :admin %>
       <td>
         <%= link_to "修改",
         edit_book_path(book), :class => 'btn btn-mini' %>
         <%= link_to "删除",
         book_path(book),
         :method => :delete,
         :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
         :class => 'btn btn-mini btn-danger' %>
       </td>
       <% end %>
       <% end %>
     </tr>
     <% end %>
   </tbody>
 </table>
</div>
