<div class="cart_title">购物车</div>
<table>
	<%= render(cart.line_items) %>

	<tr class="total_line">
		<td colspan="2">总价</td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>

<%= button_to '清空购物车', cart, method: :delete, confirm:"确定清空?" %>