<div class="center">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>您的购物车</h2>
<table class="table table-bordered table-striped">
  <tr>
    <th>书名</th>
    <th>作者</th>
    <th>出版社</th>
    <th style="text-align:right;">数量</th>
    <th style="text-align:right;">价格</th>
  </tr>
	<% @cart.line_items.each do |item| %>
    <tr class="total_line">
      <td><%= item.book.name %></td>
      <td><%= item.book.author %></td>
      <td><%= item.book.publishing_house %></td>
      <td style="text-align:right;"><%= item.quantity %></td>
      <td class="item_price" style="text-align:right;"><%= item.total_price.to_s + "元" %></td>
    </tr>
  <% end %>
  <tr class="total_line">
    <td colspan="2">总价</td>
    <td colspan="3" class="total_cell" style="text-align:right;">
      <%= @cart.total_price.to_s + "元" %>
    </td> 
	</tr>
</table>
</div>
<br />

<%= link_to "返回继续购书", books_path, class:"btn" %>

<%= link_to "确认订单", new_order_path, class:"btn" %>

<%= button_to '清空购物车', @cart, method: :delete,class:"btn btn-danger pull-right",  confirm: '你确定?' %>
