<div class="center">
	<blockquote class="center_major_bq"><p>会员登录</p></blockquote>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' } ) do |f| %>
	<div class="control-group">
		<label class="control-label" for="username">账号</label>
		<div class="controls">
			<%= f.email_field :email, :autofocus => true %>
			<span class="help-inline">格式为邮箱</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputPassword">密码</label>
		<div class="controls"><%= f.password_field :password %></div>
	</div>

	<div class="control-group">
		<div class="controls">
			<%= f.submit "登录", class: "btn" %>
			<br />
			<br />
		<%= render "devise/shared/links" %>
		</div>
	</div>
	<% end %>
</div>