/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require books
 *= require bootstrap_and_overrides
 *= require common.css
 *= require iehack
 */
 .width20 {
 	width: 20px !important;
 }
 .apple_pagination {
 	background: #f1f1f1;
 	border: 1px solid #e5e5e5;
 	text-align: center;
 	padding: 1em;
 	cursor: default; }
 	.apple_pagination a, .apple_pagination span {
 		padding: 0.2em 0.3em; }
 		.apple_pagination .disabled {
 			color: #aaaaaa; }
 			.apple_pagination .current {
 				font-style: normal;
 				font-weight: bold;
 				background-color: #bebebe;
 				display: inline-block;
 				width: 1.4em;
 				height: 1.4em;
 				line-height: 1.5;
 				-moz-border-radius: 1em;
 				-webkit-border-radius: 1em;
 				border-radius: 1em;
 				text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
 				.apple_pagination a {
 					text-decoration: none;
 					color: black; }
 					.apple_pagination a:hover, .apple_pagination a:focus {
 						text-decoration: underline; }



 						

 						footer {
 							margin-left: 100px;
 						}

 						.container .row {
 							margin-top: 45px; 
 							margin: 45px 0 0 50px ;
 						}

 						body
 						{
 							position: relative;
 							/*overflow: hidden;*/
 							width: 100%;
 							height: 100%;
 							background: url("http://levanstaticfile.qiniudn.com/bg3.jpg") no-repeat center #e3cdb7;
 							background-size: cover;
 							background-image: url("http://levanstaticfile.qiniudn.com/bg3.jpg");
 							background-color: #dcc195;
 							background-repeat: repeat;
 							background-attachment: fixed;
 							background-position: center top;
 							font: normal 13px/18px "Helvetica Neue",Arial,sans-serif;
 						}
 						.pointer
 						{
 							cursor:pointer;
 						}
 						.pl_6
 						{
 							padding-left:6px;
 						}
 						.ml_6
 						{
 							margin-left:6px;
 						}
 						ul 
 						{
 							margin: 0;
 							padding: 0;
 						}
 						ul li 
 						{
 							list-style:none;
 						}
 						.clr_float:after {
 							clear: both;
 							content: ".";
 							display: block;
 							height: 0;
 							visibility: hidden;
 						}
 						.header 
 						{
 							color: #eee;
 							background: url(../Images/header_bg.jpg) repeat-x center #e3cdb7;
 							height: 40px;
 						}
 						.header_center_right
 						{
 							float:right;
 							padding:0px 8px 0 0;
 						}
 						.center, .center_guide, .header_center
 						{
 							padding-left:8px;
 							padding-right:8px;
 							width:944px;
 							margin: 0 auto;
 						}
 						.center_guide
 						{
 							padding:8px 0;
 						}
 						.center
 						{
 							background-color: #fff;
 							padding-bottom:26px;
 							padding-top: 18px;
 						}
 						.center_major_bq
 						{
 							margin-left:12px;
 						}
 						.center_major_ul
 						{
 							padding-left:5px;
 						}
 						.center_major_li a
 						{
 							display:block;
 							height: 40px;
 							padding-top:24px;
 						}
 						.center_major_li
 						{
 							font-size: 14px;
 							width: 177px;
 							margin:4px;
 							text-align:center;
 							float: left;
 							border: #dddee0 1px solid;
 							
 						}
 						.center_major_li:hover
 						{
 							background-color:#eee;
 						}
 						.center_books_ul
 						{
 							width:940px;
 						}
 						.center_books_li
 						{
 							color:#666;
 							font-size: 12px;
 							width: 201px;
 							height: 370px;
 							float: left;
 							border: #cddee0 1px solid;
 							padding: 8px;
 							margin:0 8px;
 							margin-bottom:8px;
 						}
 						.center_books_li_name
 						{
 							padding-top:5px;
 							line-height:16px;
 							padding-bottom:2px;
 							height:31px;
 							float: left;
 							width: 146px;
 						}
 						.center_books_li_author
 						{
 							line-height:16px;
 							height:31px;
 						}
 						.center_books_li_price
 						{
 							float: right;
 							padding-top:2px;
 						}
 						.center_books_li_buy
 						{

 							padding-top:2px;
 						}
 						.center_books_li_buy_num
 						{
 							width: 40px;
 							margin: 0 6px;
 						}
 						.cart 
 						{
 							position: fixed;
 							bottom: 0;
 							width: 100%;
 							z-index: 9998;
 						}
 						.cart_content
 						{
 							color: #eff;
 							margin: 0 auto;
 							width: 960px;
 							background-color: #111;
 						}
 						.cart_content_bar
 						{
 							height: 40px;
 							margin-bottom:0px;
 						}
 						.cart_content_list {
 							-moz-border-bottom-colors: none;
 							-moz-border-left-colors: none;
 							-moz-border-right-colors: none;
 							-moz-border-top-colors: none;
 							background-color: #FFFFFF;
 							border-color: #000000 #000000 -moz-use-text-color;
 							border-image: none;
 							border-style: solid solid none;
 							border-width: 2px 2px 0;
 							color: #555;
 							display: none;
 						}
 						.footer
 						{
 							padding-top: 30px;
 							height: 270px;
 						}
 						.footer_content
 						{
 							text-align:center;
 							color: #333;
 							margin: 0 auto;
 							width: 960px;
 						}
 						.cart_content_porder
 						{
 							padding: 2px;
 							padding-bottom: 0px;
 							display: none;
 						}
 						.cart_content_porder_form
 						{
 							padding: 40px 0;
 							color: #444;
 							background-color: #fff;
 							margin-bottom: 0px;
 						}
 						.ucen_left, .ucen_right
 						{
 							float: left;
 						}
 						.ucen_right
 						{
 							margin-left:12px;
 							width: 745px;
 						}
 						.center_message
 						{
 							padding: 8px;
 						}
 						.books_message
 						{
 							padding:12px;
 							padding-top:20px;
 						}
 						blockquote
 						{
 							color:#414140;
 						}
 						.center_detail_right
 						{
 							text-align:right;
 							padding-top:12px;
 							padding-right:8px;
 						}
 						.center_detail_right .btn
 						{
 							margin-left:8px;
 						}

 						@charset "utf-8";body,h1,h2,h3,form,ol,ul,li,dd,dl,dt,p{margin:0px;padding:0px;}body{font:12px/1.5 arial,simsun;color:#333;}img{border:0px;vertical-align:middle;}ul,ol,li{list-style:none;}input,textarea,select{resize:none;outline:none; vertical-align:middle;}em,cite{font-style:normal;}.ui_alert,.ui_error,.ui_success,.ui_notice,.ui_confirm,.ui_prompt{border:solid 1px #F5F5F5;border-top:solid 1px #F1F1F1;border-left:solid 1px #F1F1F1;background-color:#F7F7F7;width:156px;height:46px;margin:0px auto;background:-moz-linear-gradient(top,#FAFAFA,#E3E3E3);background:-webkit-gradient(linear,left top,left bottom,from(#FAFAFA),to(#E3E3E3));border-radius:8px;box-shadow:3px 3px 4px #AAA;}.ui_alert .ui_msg,.ui_error .ui_msg,.ui_success .ui_msg,.ui_notice .ui_msg,.ui_confirm .ui_c1,.ui_prompt .ui_msg,.ui_confirm .ui_msg{background:url(../Images/ui-alert.png) no-repeat center left;margin:0px 15px;padding:10px 8px 10px 40px;line-height:25px;color:#8C5507;font-size:15px;font-weight:bold;}.ui_error .ui_msg{background:url(../Images/ui-error.png) no-repeat center left;color:#FF3C1A;}.ui_success .ui_msg{background:url(../Images/ui-success.png) no-repeat center left;color:#107A29;}.ui_notice .ui_msg{background:url(../Images/ui-notice.png) no-repeat center left;color:#00477A;}.ui_confirm .ui_msg,.ui_confirm .ui_msg{margin:0px 15px;}.ui_confirm .ui_msg{background:url(../Images/ui-confirm.png) no-repeat center left;color:#00627A;padding-top:12px;margin:0px 20px;}.ui_confirm .ui_p{margin:0px;padding-bottom:15px;text-align:center;}.ui_p .ui_button,.ui_p .ui_button:hover{border-radius:0px;background:url(../Images/ui-bouton.png) no-repeat center center;height:27px;width:62px;border:0px none;display:inline-block;font-size:14px;color:#F3FAEB;font-weight:bold;line-height:27px;cursor:pointer;}.ui_button_r{margin-left:10px;}.ui_prompt .ui_p1,.ui_prompt .ui_p2,.ui_prompt .ui_p{margin:0px 15px;}.ui_prompt .ui_p2{padding:5px 0px;}.ui_prompt .ui_p1{background:url(../Images/ui-prompt.png) no-repeat center left;padding:12px 8px 0px 43px;line-height:30px;color:#565656;font-size:15px;font-weight:bold;}.ui_prompt .ui_p{text-align:center;padding-bottom:15px;padding-top:5px;}.ui_text{height:20px;padding:4px;background:url(../Images/ui-text.png) repeat-x;border:solid 1px #BCBCBC;width:190px;border-radius:5px;font-size:14px;color:#4B6C1E;}.ui_text:focus{border-color:#AAAAAA;}.ui_box{border-radius:8px;box-shadow:3px 3px 4px #AAA;}.ui_box .ui_box_title{background:url(../Images/ui-box.png) repeat-x;line-height:39px;border-radius:8px 8px 0px 0px;cursor:move;}.ui_box .ui_box_content{}.ui_box_title strong{color:#565656;font-size:14px;font-weight:bold;padding-left:10px;}.ui_box .span{cursor:pointer;background:url(../Images/ui-close.png) no-repeat center center;width:20px;height:20px;margin:9px 10px;position:absolute;right:0px;top:0px;}.F_css{border-color:#F00 !important;}button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,[type="button"]::-moz-focus-inner{border:none;}