body
{
	margin: 0px;
	background-color: #bedae8;
}
.pointer
{
	cursor:pointer;
}
.pl_6
{
	padding-left:6px;
}
.ml_6
{
	margin-left:6px;
}
ul 
{
	margin: 0;
	padding: 0;
}
ul li 
{
	list-style:none;
}
.clr_float:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.header 
{
	color: #eee;
	background: url(header_bg.jpg) repeat-x center #e3cdb7;
	height: 40px;
}
.header_center_right
{
	float:right;
	padding:0px 8px 0 0;
}
.center, .center_guide, .header_center
{
	padding-left:8px;
	padding-right:8px;
	width:944px;
	margin: 0 auto;
}
.center_guide
{
	padding:8px 0;
}
.center
{
	background-color: #fff;
	padding-bottom:26px;
	padding-top: 18px;
}
.center_major_bq
{
	margin-left:12px;
}
.center_major_ul
{
	padding-left:5px;
}
.center_major_li a
{
	display:block;
	height: 40px;
	padding-top:24px;
}
.center_major_li
{
	font-size: 14px;
	width: 177px;
	margin:4px;
	text-align:center;
	float: left;
	border: #dddee0 1px solid;
	
}
.center_major_li:hover
{
	background-color:#eee;
}
.center_books_ul
{
	width:940px;
}
.center_books_li
{
	color:#666;
	font-size: 12px;
	width: 201px;
	height: 370px;
	float: left;
	border: #cddee0 1px solid;
	padding: 8px;
	margin:0 8px;
	margin-bottom:8px;
}
.center_books_li_name
{
	padding-top:5px;
	line-height:16px;
	padding-bottom:2px;
	height:31px;
	float: left;
	width: 146px;
}
.center_books_li_author
{
	line-height:16px;
	height:31px;
}
.center_books_li_price
{
	float: right;
	padding-top:2px;
}
.center_books_li_buy
{

	padding-top:2px;
}
.center_books_li_buy_num
{
	width: 40px;
	margin: 0 6px;
}
.cart 
{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9998;
}
.cart_content
{
	color: #eff;
    margin: 0 auto;
    width: 960px;
    background-color: #111;
}
.cart_content_bar
{
	height: 40px;
	margin-bottom:0px;
}
.cart_content_list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #000000 #000000 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 2px 0;
    color: #555;
    display: none;
}
.footer
{
	padding-top: 30px;
	height: 270px;
}
.footer_content
{
	text-align:center;
	color: #333;
    margin: 0 auto;
    width: 960px;
}
.cart_content_porder
{
	padding: 2px;
	padding-bottom: 0px;
	display: none;
}
.cart_content_porder_form
{
	padding: 40px 0;
	color: #444;
	background-color: #fff;
	margin-bottom: 0px;
}
.ucen_left, .ucen_right
{
	float: left;
}
.ucen_right
{
	margin-left:12px;
	width: 745px;
}
.center_message
{
	padding: 8px;
}
.books_message
{
	padding:12px;
	padding-top:20px;
}
blockquote
{
	color:#414140;
}
.center_detail_right
{
	text-align:right;
	padding-top:12px;
	padding-right:8px;
}
.center_detail_right .btn
{
	margin-left:8px;
}
