.clearfix {
	*zoom:1
}
.clearfix:before,.clearfix:after {
	display:table;
	content:"";
	line-height:0
}
.clearfix:after {
	clear:both
}
.text-overflow {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
* {
	padding:0;
	margin:0
}
a {
	cursor:pointer
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
}
body {
	line-height:1
}
ol,ul {
	list-style:none
}
blockquote,q {
	quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
button,input[type="submit"],input[type="reset"],input[type="button"],input[type="search"] {
	cursor:pointer;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box
}
audio,canvas,video {
	display:inline-block
}
audio:not([controls]) {
	display:none
}
html {
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
a:hover,a:focus,a:active {
	outline:0
}
sub,sup {
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
img {
	max-width:100%;
	width:auto\9;
	height:auto;
	vertical-align:middle;
	border:0;
	-ms-interpolation-mode:bicubic
}
#map_canvas img,.map-container img {
	max-width:none
}
button,input,select,textarea {
	font-size:100%;
	vertical-align:middle
}
button::-moz-focus-inner,input::-moz-focus-inner {
	padding:0;
	border:0
}
button,input {
	line-height:normal
}
button,input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button
}
input[type="search"] {
	-webkit-appearance:textfield
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance:none
}
textarea {
	overflow:auto;
	vertical-align:top
}
/*! jQuery UI - v1.9.1 - 2012-11-21
* http://jqueryui.com
* Includes:jquery.ui.core.css,jquery.ui.autocomplete.css,jquery.ui.menu.css
* Copyright (c) 2012 jQuery Foundation and other contributors Licensed MIT */.ui-helper-hidden {
	display:none
}
.ui-helper-hidden-accessible {
	position:absolute!important;
	clip:rect(1px);
	clip:rect(1px,1px,1px,1px)
}
.ui-helper-reset {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	line-height:1.3;
	text-decoration:none;
	font-size:100%;
	list-style:none
}
.ui-helper-clearfix:before,.ui-helper-clearfix:after {
	content:"";
	display:table
}
.ui-helper-clearfix:after {
	clear:both
}
.ui-helper-clearfix {
	zoom:1
}
.ui-helper-zfix {
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0)
}
.ui-state-disabled {
	cursor:default!important
}
.ui-icon {
	display:block;
	text-indent:-99999px;
	overflow:hidden;
	background-repeat:no-repeat
}
.ui-widget-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.ui-autocomplete {
	position:absolute;
	top:0;
	cursor:default
}
* html .ui-autocomplete {
	width:1px
}
.ui-menu {
	list-style:none;
	padding:2px;
	margin:0;
	display:block;
	outline:0
}
.ui-menu .ui-menu {
	margin-top:-3px;
	position:absolute
}
.ui-menu .ui-menu-item {
	margin:0;
	padding:0;
	zoom:1;
	width:100%
}
.ui-menu .ui-menu-divider {
	margin:5px -2px 5px -2px;
	height:0;
	font-size:0;
	line-height:0;
	border-width:1px 0 0 0
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:2px .4em;
	line-height:1.5;
	zoom:1;
	font-weight:normal
}
.ui-menu .ui-menu-item a.ui-state-focus,.ui-menu .ui-menu-item a.ui-state-active {
	font-weight:normal;
	margin:-1px
}
.ui-menu .ui-state-disabled {
	font-weight:normal;
	margin:.4em 0 .2em;
	line-height:1.5
}
.ui-menu .ui-state-disabled a {
	cursor:default
}
.ui-menu-icons {
	position:relative
}
.ui-menu-icons .ui-menu-item a {
	position:relative;
	padding-left:2em
}
.ui-menu .ui-icon {
	position:absolute;
	top:.2em;
	left:.2em
}
.ui-menu .ui-menu-icon {
	position:static;
	float:right
}
a {
	text-decoration:none;
	outline:0;
	cursor:pointer
}
a:hover {
	text-decoration:none
}
input[type="text"]:focus {
	outline:0
}
html {
	width:100%;
	height:100%
}
body {
	position:relative;
	overflow:hidden;
	width:100%;
	height:100%;
	background:url("http://levanstaticfile.qiniudn.com/bg3.jpg") no-repeat center #e3cdb7;
	background-size:cover;
	background-image: url("http://levanstaticfile.qiniudn.com/bg3.jpg");
	background-color: #dcc195;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center top;
	font:normal 13px/18px "Helvetica Neue",Arial,sans-serif
}
.hide {
	display:none
}
.content {
	position: relative;
	/*left: 348px;*/
	margin: auto;
	top: 30%;
	width:680px;
	height:480px;
	font-size:14px
}
.logo {
	margin-left: 45%;
}
	nav {
		padding:7px 10px;
		background:rgba(0,0,0,0.2);
		border-radius:4px 4px 0 0;
		border:1px solid rgba(0,0,0,0.05);
		border-bottom:0;
		color:white
	}
	nav a {
		color:white
	}
	nav a:hover {
		color:white;
		text-decoration:underline
	}
	nav .icon-back {
		display:inline-block;
		margin-right:10px;
		width:18px;
		height:18px;
		background:url(../images/sprites.png) no-repeat transparent 0 -60px;
		vertical-align:middle
	}
	nav .icon-dot {
		display:inline-block;
		margin:0 10px;
		width:5px;
		height:5px;
		border-radius:50%;
		background:rgba(200,200,200,0.5);
		vertical-align:middle
	}
	section {
		background:white
	}
	section ul a {
		color:#333
	}
	section ul a:hover {
		background-color:#08c;
		color:white
	}

	.city-wrapper {
		display:block;
		width:680px;
		*zoom:1
	}
	.city-wrapper:before,.city-wrapper:after {
		display:table;
		content:"";
		line-height:0
	}
	.city-wrapper:after {
		clear:both
	}
	.city {
		display:block;
		width:20%;
		position:relative;
		float:left
	}
	.city#city_8 {
		margin-left:30%
	}
	.city>a {
		position:relative;
		z-index:10;
		display:block;
		padding:12px 26px;
		border-radius:10px;
		-webkit-transition:background .2s linear 0s;
		-moz-transition:background .2s linear 0s;
		-o-transition:background .2s linear 0s;
		-ms-transition:background .2s linear 0s;
		transition:background .2s linear 0s
	}
	.city>a.hover:hover {
		background:rgba(125,85,45,0.28);
		box-shadow:0 -1px 1px rgba(0,0,0,0.3),0 1px 1px rgba(255,255,255,0.3)
	}
	.city b {
		display:block;
		margin:0 auto;
		width:90px;
		height:90px;
		background:url(../images/city.png) 0 0 no-repeat transparent;
	}
	.city strong {
		display:block;
		margin-top:10px;
		color:white;
		text-shadow:1px 1px 2px #7d552d;
		font-size:16px;
		font-weight:bold;
		text-align:center
	}
	.form-search
	{
		padding-top:100px;
		text-align:center;
	}
	.select_college
	{
		padding-left:155px;
		padding-top:12px;
	}
	.select-wrapper {
		display:none;
		width:360px;
		box-shadow:0 2px 2px rgba(0,0,0,0.3)
	}
	.select-wrapper nav {
		width:100%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box
	}
	.select-wrapper nav .current {
		text-decoration:none;
		cursor:text
	}
	.select-wrapper ul {
		*zoom:1
	}
	.select-wrapper ul:before,.select-wrapper ul:after {
		display:table;
		content:"";
		line-height:0
	}
	.select-wrapper ul:after {
		clear:both
	}
	.select-wrapper section li {
		float:left;
		display:block;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:25%;
		height:38px;
		line-height:38px;
		text-align:center;
		border-left:1px solid #e1e1e1;
		border-bottom:1px solid #e1e1e1
	}
	.select-wrapper section li:hover {
		border-color:#08c;
		background-color:#08c
	}
	.select-wrapper section li:hover a {
		color:white
	}
	.select-wrapper section li:nth-child(4n+1) {
		border-left:none
	}
	.select-wrapper section li a {
		display:block
	}
	.select-wrapper .autocomplete-wrapper {
		position:relative;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:100%;
		padding:6px;
		background:rgba(0,0,0,0.3)
	}
	.select-wrapper .autocomplete-wrapper i {
		position:absolute;
		display:block
	}
	.select-wrapper .autocomplete-wrapper input {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		-webkit-transition:background .2s linear 0s;
		-moz-transition:background .2s linear 0s;
		-o-transition:background .2s linear 0s;
		-ms-transition:background .2s linear 0s;
		transition:background .2s linear 0s;
		padding:0 5px 0 28px;
		width:100%;
		height:26px;
		border:0;
		border-radius:2px;
		background:white
	}
	.select-wrapper .autocomplete-wrapper input.active {
		border-radius:2px 2px 0 0
	}
	.select-wrapper .autocomplete-wrapper .icon-search {
		top:12px;
		left:12px;
		width:15px;
		height:15px;
		background:url(../images/sprites.png) no-repeat transparent -20px -290px
	}
	.select-wrapper .autocomplete-wrapper .icon-loading {
		display:none;
		top:11px;
		right:12px;
		width:16px;
		height:16px;
		background:url(../images/loading.gif) 0 0 no-repeat transparent
	}

	.footer-homepage {
		position: relative;
		top: 250px;
		width:680px;
		bottom:-8px;
		text-align:center
	}
	.footer-homepage a {
		display:inline-block;
		padding:7px 18px;
		border-radius:5px;
		color:white;
		line-height:21px;
		background:rgba(60,60,60,0.3);
		box-shadow:0 -1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(60,60,60,0.4);
		-webkit-transition:background-color .3s ease 0s;
		-moz-transition:background-color .3s ease 0s;
		-o-transition:background-color .3s ease 0s;
		-ms-transition:background-color .3s ease 0s;
		transition:background-color .3s ease 0s
	}
	.footer-homepage a:hover {
		color:white;
		background-color:rgba(60,60,60,0.5)
	}
	.footer-homepage .btn-login {
		margin-left:10px
	}
