<!DOCTYPE html>
<!-- saved from url=(0053)http://www.1haoshudian.com/index.php?m=index&a=sorder -->
<html lang="zh" slick-uniqueid="3">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<title>1号书店</title>
  <%= stylesheet_link_tag "common" %>
  <%= stylesheet_link_tag "yu" %>
  <%= stylesheet_link_tag "bootstrap-2-3" %>
  <%= stylesheet_link_tag "base" %>
  <%= javascript_include_tag "yu" %>
<body cz-shortcut-listen="true">
	<input type="hidden" id="temp_keyword" value="">
	<div class="header">
		<div class="header_center navbar navbar-inverse">
			<div class="nav">
				<img style="height:40px;width:120px;" src="<%= image_path("logo2.jpg") %>"></div>
			<div class="header_center_right">
				<ul class="nav pull-left">
					<li>
						<a href="./dingdan_files/dingdan.html">查订单</a>
					</li>
					<li class="divider-vertical"></li>
				</ul>
				<form class="navbar-search" action="">
					<input type="hidden" name="m" value="index">
					<input type="hidden" name="a" value="books">
					<input type="hidden" name="search" value="y">
					<input class="search-query span3" id="h_search" name="keyword" type="text" placeholder="ISBN、书名、作者、出版社" value="ISBN、书名、作者、出版社"></form>
				<ul class="nav pull-right">
					<li>
						<a href="http://www.1haoshudian.com/index.php?g=user&m=login&a=index">登陆</a>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<a href="http://www.1haoshudian.com/maishu/index.php?g=User&m=Register&a=index">注册</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="center_guide">
		<a href="http://www.1haoshudian.com/index.php" rel="nofollow">查看图书</a>
	</div>
	<div class="center sorder_center">
		<div style="margin-bottom:32px;">
			<blockquote>
				<p>查询订单</p>
			</blockquote>
			<form class="form-search" method="post">
				<div class="input-append">
					<input class="span2 search-query" id="order_search" type="text" name="keyword" placeholder="订单编号或手机" value="订单编号或手机">
					<button class="btn" type="submit">搜</button>
				</div>
			</form>
		</div>
		<div class="center_detail">
			<blockquote>
				<p>订单详情</p>
			</blockquote>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>订单编号</th>
						<th>订单状态</th>
						<th>收货人姓名</th>
						<th>学校</th>
						<th>地址</th>
						<th>手机</th>
						<th>总价</th>
						<th>下单时间</th>
						<th>操作</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div class="cart">
		<div class="cart_content">
			<div class="cart_content_list" id="cart_content_list" onmouseover="$(&#39;#cart_content_list&#39;).show();" onmouseout="$(&#39;#cart_content_list&#39;).hide();">
				<table class="table table-bordered" style="margin:0">
					<thead>
						<tr>
							<th>书名</th>
							<th>单价</th>
							<th>数量</th>
							<th>总价</th>
							<th>删除</th>
						</tr>
					</thead>
					<tbody id="cart_content_list_con">
						<tr>
							<td>微型计算机原理与接口技术</td>
							<td>30.00</td>
							<td>
								<input id="cart_content_list_con_num_629" type="text" style="width:36px;height:16px;margin:0px;" value="1">
								&nbsp; <i class="pointer icon-ok" data-id="629" onclick="my_js.cartChNum(this);"></i>
							</td>
							<td id="cart_content_list_con_allprice_629">30</td>
							<td> <i onclick="my_js.deleteThis(this)" data-id="629" class="icon-trash" style="cursor:pointer"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="cart_content_bar navbar navbar-inverse">
				<ul class="nav">
					<li>
						<a class="pointer" onmouseover="$(&#39;#cart_content_list&#39;).show();" onmouseout="$(&#39;#cart_content_list&#39;).hide();">订单详情</a>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<a id="clr_all" class="pointer pl_6" onclick="my_js.clrAll();">清空</a>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li style="width:220px;text-align:right;">
						<a>
							共
							<span id="cart_content_bar_right_booknum">1</span>
							本书、合计
							<span id="cart_content_bar_right_price">30</span>
							元
						</a>
					</li>
					<li class="divider-vertical"></li>
					<li>
						<a href="http://www.1haoshudian.com/index.php?m=index&a=buy">买单</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer_content">关于我们 | 联系我们 | 加入我们</div>
	</div>
	<div id="floatTools" class="float0831">
		<div class="floatL">
			<a id="aFloatTools_Show" class="btnOpen" title="查看在线客服" onclick="javascript:$(&#39;#divFloatToolsView&#39;).animate({width: &#39;show&#39;, opacity: &#39;show&#39;}, &#39;normal&#39;,function(){ $(&#39;#divFloatToolsView&#39;).show();kf_setCookie(&#39;RightFloatShown&#39;, 0, &#39;&#39;, &#39;/&#39;, &#39;www.istudy.com.cn&#39;); });$(&#39;#aFloatTools_Show&#39;).attr(&#39;style&#39;,&#39;display:none&#39;);$(&#39;#aFloatTools_Hide&#39;).attr(&#39;style&#39;,&#39;display:block&#39;);" href="javascript:void(0);">展开</a>
			<a style="display: none" id="aFloatTools_Hide" class="btnCtn" title="关闭在线客服" onclick="javascript:$(&#39;#divFloatToolsView&#39;).animate({width: &#39;hide&#39;, opacity: &#39;hide&#39;}, &#39;normal&#39;,function(){ $(&#39;#divFloatToolsView&#39;).hide();kf_setCookie(&#39;RightFloatShown&#39;, 1, &#39;&#39;, &#39;/&#39;, &#39;www.istudy.com.cn&#39;); });$(&#39;#aFloatTools_Show&#39;).attr(&#39;style&#39;,&#39;display:block&#39;);$(&#39;#aFloatTools_Hide&#39;).attr(&#39;style&#39;,&#39;display:none&#39;);" href="javascript:void(0);">收缩</a>
		</div>
		<div id="divFloatToolsView" class="floatR" style="display: none">
			<div class="tp"></div>
			<div class="cn">
				<ul>
					<li class="top">
						<h3 class="titZx">QQ咨询</h3>
					</li>
					<li>
						<a class="icoTc" href="http://wpa.qq.com/msgrd?v=3&uin=2073457300&site=qq&menu=yes" target="_blank">客服</a>
					</li>
				</ul>
				<ul>
					<li>
						<h3 class="titDh">电话咨询</h3>
					</li>
					<li>
						<span class="icoTl"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	  <%= javascript_include_tag "jquery-1.10.2.min" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "jquery.json" %>
  <%= javascript_include_tag "jquery.cookie" %>
  <%= javascript_include_tag "kefu" %>
  <%= javascript_include_tag "my" %>
	<script type="text/javascript">	my_js.setCart();
	my_js.porderDetail();
	$(function(){
		input("h_search", "ISBN、书名、作者、出版社");
		input("order_search", "订单编号或手机");
			});
	function input(theInput, val) {
		var $input = $("#"+theInput+"");
		var val = val;
		$input.attr({value:val});
		$input.focus(function() {
			if ($input.val() == val) {
				$(this).val("");
			}
		}).blur(function() {
			if ($input.val() == "") {
				$(this).val(val);
			}
		});
	}
</script>
</body>
</html>
