<% if line_item == @current_item %>
<tr id="current_item">
	<% else %>
</tr>
<% end %>
<tr>
	<td><%= line_item.quantity %>&times;</td>
	<td><%= line_item.book.name %></td>
	<td class="item_price">
		<%= number_to_currency(line_item.total_price) %>
	</td>
</tr>