<html lang="zh" slick-uniqueid="3">
<head>
	<title>1号书店</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="1号书店">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		  <%= javascript_include_tag "jquery-1.10.2.min" %>
	<link rel="icon" href="/favicon.ico?v=2" type="image/x-icon">
	<link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
  <%= stylesheet_link_tag "style_home" %>
  <%= stylesheet_link_tag "bootstrap-2-3" %>
  <%= stylesheet_link_tag "iehack" %>
  <%= stylesheet_link_tag "common" %>
  <%= javascript_include_tag "jquery.json" %>
  <%= javascript_include_tag "my" %>
  <%= javascript_include_tag "kefu" %>
</head>
<body id="homepage" cz-shortcut-listen="true">
	<!--[if lte IE 8]>
	<script>window.location.href = 'index.php?m=Index&a=jr';</script>
	<![endif]-->
	<input type="hidden" id="h_s_uni" value="0">
	<div class="content" id="step1">
		<h1 class="logo"></h1>
		<div class="select_college">
			<div class="select-wrapper select_fr">
				<nav>
					<a class="icon-back to_city" onclick="my_js.backSelectUni()"></a>
					<a id="select_district" class="select current" data-name="请选择区域">请选择学院</a>
				</nav>
				<section class="selections"></section>
			</div>
		</div>
    <%= search_form_for @search, class: "form-search" do |f| %>
      <div class="input-append">
        <%= f.text_field :name_cont,id:"h_search",  class: "span3 search-query",style: "height:30px;" ,  placeholder:"书名、作者、出版社" %>
        <%= f.submit "搜书", class:"btn" %>
      </div>
    <% end %>
		<footer class="footer-homepage">
			<% if user_signed_in? %>
			<%= link_to "#{@user.email}", edit_user_registration_path, class:"btn-login" %>
			<% else %>


			<%= link_to "登录", new_user_session_path, class:"btn-login" %>
			<%= link_to "注册", new_user_registration_path, class:"btn-login" %>
			<% end %>
		</footer>
	</div>
	<div id="floatTools" class="float0831">
		<div class="floatL">
			<a id="aFloatTools_Show" class="btnOpen" title="查看在线客服" onclick="javascript:$('#divFloatToolsView').animate({width: 'show', opacity: 'show'}, 'normal',function(){ $('#divFloatToolsView').show();kf_setCookie('RightFloatShown', 0, '', '/', 'www.istudy.com.cn'); });$('#aFloatTools_Show').attr('style','display:none');$('#aFloatTools_Hide').attr('style','display:block');" href="javascript:void(0);">展开</a>
			<a style="display: none" id="aFloatTools_Hide" class="btnCtn" title="关闭在线客服" onclick="javascript:$('#divFloatToolsView').animate({width: 'hide', opacity: 'hide'}, 'normal',function(){ $('#divFloatToolsView').hide();kf_setCookie('RightFloatShown', 1, '', '/', 'www.istudy.com.cn'); });$('#aFloatTools_Show').attr('style','display:block');$('#aFloatTools_Hide').attr('style','display:none');" href="javascript:void(0);">收缩</a>
		</div>
		<div id="divFloatToolsView" class="floatR" style="display: none">
			<div class="tp"></div>
			<div class="cn">
				<ul>
					<li class="top">
						<h3 class="titZx">QQ咨询</h3>
					</li>
					<li>
						<a class="icoTc" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2073457300&amp;site=qq&amp;menu=yes" target="_blank">客服</a>
					</li>
				</ul>
				<ul>
					<li>
						<h3 class="titDh">电话咨询</h3>
					</li>
					<li>
						<span class="icoTl"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
// 	<script>	$(function(){
// 		input("h_search", "ISBN、书名、作者、出版社");
// 	});
// 	function input(theInput, val) {
// 		var $input = $("#"+theInput+"");
// 		var val = val;
// 		$input.attr({value:val});
// 		$input.focus(function() {
// 			if ($input.val() == val) {
// 				$(this).val("");
// 			}
// 		}).blur(function() {
// 			if ($input.val() == "") {
// 				$(this).val(val);
// 			}
// 		});
// 	}
// </script>
</body>
</html>
